.header {
    background-color: blue;
    height: 200px;
    
    border-bottom: 10px solid #DB162F;
    
    
}

.header h1 {
    color:white;
    text-align: center;
    font-size: 3rem;
    padding-top: 50px;
    margin:0
    
}
    
    
    